@import url('https://fonts.googleapis.com/css?family=Work+Sans');
html {
  font-size: 62.5%;
}
body {
  background-color: #eceff1;
  color: #4d4d4d;
  font-family: 'Work Sans';
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
